{% extends 'home.html.twig' %}
{% block body %}
<section class="slider slider-8">
 <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm-8 pad-0">
            <h2>
                <span>All Resources</span>
                <img class="hidden visible-xs" src="{{ asset('vendors/frontend/images/homegraphic-cs.svg') }}" alt="mob-home">
            </h2>
            <p>The Human Behaviour Change Project is a collaboration between world leading institution to create and develop a Machine Learning Programme that can analyse and literature and no more text</p>
             </div>
        </div>
    </div>
</section>

<section class="cs-section text-center">
    <div id="exTab2" class="">
        <div class="">
            <ul class="nav nav-tabs cs-tab">
            <li class="active" >
        <a href="#1" data-toggle="tab">Project</a>
            </li>
            <li><a href="#2" data-toggle="tab">Behavioural Science</a>
            </li>
               <li >
        <a href="#3" data-toggle="tab">Computer Science</a>
            </li >
            <li ><a href="#4" data-toggle="tab">System Architecture</a>
            </li>
        </ul>
        <div class="">
        <div class="col-sm-12 cs-tab">
            <span class="d-hd">Department</span>
         <div class="select-box-department">
                <select class="selectpicker">
                    <option > Project</option>
                    <option> Behavioural Science</option>
                    <option>Computer Science</option>
                    <option>System Architecture</option>
                </select>
        </div>
    </div>
</div>
            <div class="tab-content ">
                <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 dropdown">
                        <button id="dp">Filter Resources (3 applied)</button>
                    </div>
                </div>
            </div>
               
                <div class="tab-pane active" id="4">
                    <div class="">
                        
                        <div>
                            <div class="pad-35 sh" >
                                <div class="container">
                                <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 t-center">
                               <div class=" text-right inline-div"> <span>Category</span></div>

                                <div class="select-box">
                                    <select class="selectpicker">
                                        <option> Select Section</option>
                                        <option> example 02</option>
                                        <option> example 03</option>
                                    </select>
                            </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 t-center">
                                <div class=" text-right inline-div"><span>Resource</span></div>

                                <div class="select-box text-cnetr">
                                    <select class="selectpicker">
                                        <option>Select Type</option>
                                        <option> example 02</option>
                                        <option> example 03</option>
                                    </select>
                            </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 t-center">
                                <div class=" text-right inline-div"><span>sort by</span></div>

                                <div class="select-box-2 ">
                                    <select class="selectpicker">
                                        <option> Date(new and old)</option>
                                        <option> example 02</option>
                                        <option> example 03</option>
                                    </select>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                            <div class="clearfix">
                                
                            </div>
                            <div class="">
                                <div class="panel-body ">
             <div class="container">

          <span class="text-download">
            <p>17/07/2017</p>
            <span>  A link to some sort of resource like powerpoint slide or paper
            <a class="link-text">PDF</a></span>
            <a href="#" class="api-btn">IBM documents</a>
            </span>
            <span class="btn-download"><a href="#">Download</a></span> </div>
        </div>
         <div class="panel-body light">
             <div class="container">
          <span class="text-download">
            <p>17/07/2017</p>
           <span>  Matrix Tool or example of another link Website<a class="link-text">HBCP Tool</a></span>
            <a href="#" class="api-btn">Blueprints</a></span><span class="btn-download"><a href="#">Open Tool</a></span> </div>
        </div>
         <div class="panel-body ">
             <div class="container">
          <span class="text-download">
            <p>17/07/2017</p><span>  Matrix Tool or example of another link Website<a class="link-text">website</a></span>
             <a href="#" class="api-btn">Blueprints</a></span>
            <span class="btn-download"><a href="#">View</a></span> </div>
        </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}